.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-icon {
  display: flex;
  flex-direction: row;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.web-my-orders {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
